.azeret-mono-text {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


/* common styles */
.title-primary {
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 30px;
}

.title-secondary {
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0%;
}

.title-tertiary {
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    color: rgb(13, 19, 33);
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
}

.btn-primary {
    border-style: none;
    border: 1px solid rgb(13, 19, 33, 0.7);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
    padding: 8px 14px;
}

.margin-bottom {
    margin-bottom: 45px;
}

.text-center {
    text-align: center;
}

.bg-white {
    background-color: white;
}

/* banner styles */
.banner {
    background-image: url('../assets/Hero-bg.png');
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 150px;
    gap: 20px;
}

.banner-title {
    font-size: 34px;
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-weight: 800;
}

.banner-btn {
    margin-top: 10px;
    border: none;
    padding: 14px 20px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}


/* why-web-dev section styles */
.why-web-dev {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 75px 90px;
    max-width: 950px;
    margin: 100px auto;
}

/* box1, box2, box3 sections styles */
.box {
    display: flex;
    padding: 45px;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
    border-radius: 10px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-bottom: 20px;
}

.box-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    max-width: 320px;
}

.boxA {
    display: flex;
    padding: 45px;
    align-items: stretch;
    gap: 50px;
    border-radius: 10px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}


/* My Inspiration Section Styles */
.inspiration {
    padding: 35px 80px;
    max-width: 950px;
    margin: 100px auto;
}

.inspiration-video-container {
    border: 1px solid rgba(13, 19, 33, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


/* Cards Section Styles */
.cards {
    max-width: 950px;
    margin: 45px auto 150px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card {
    border-radius: 10px;
    padding: 28px;
}

.card1 {
    background-color: rgba(255, 76, 30, 0.05);
}

.card2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.card3 {
    background-color: rgba(255, 223, 0, 0.05);
}

.card-heading {
    margin: 15px 0;
}

.card p{
    margin: 15px 0;
}

.learn {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0%;
    text-decoration-line: underline;
}